<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="widget-area">
					<div class="widget widget_text">
						<p>
							<a href="/" class="mini-logo"><img src="{{ "tmp/logo.png" | relURL }}" width="144" height="33" alt="Arco's Angels"></a>
						</p>
					</div>
					<div class="widget widget_nav_menu">
						<nav>
							<ul>
								<li><a href="#">Twitter</a></li>
								<li><a href="#">Instagram</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="{{ "js/modernizr-custom.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.min.js" | relURL }}"></script>
<script src="{{ "js/imagesloaded.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/masonry.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/functions.js" | relURL }}"></script>