<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="widget-area">
					<div class="widget widget_text">
						<p>
							<a href="/" class="mini-logo"><img src="{{ "tmp/logo.png" | relURL }}" width="144" height="33" alt="Arco's Angels"></a>
						</p>
					</div>
					<div class="widget widget_nav_menu">
						<nav>
							<ul>
								<li><a href="https://twitter.com/arcos_angels">Twitter</a></li>
								<li><a href="#">Instagram</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="{{ "js/modernizr-custom.min.js" | relURL }}"></script>
<script src="{{ "js/jquery.min.js" | relURL }}"></script>
<script src="{{ "js/imagesloaded.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/masonry.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/functions.js" | relURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | relURL }}"></script>
<script>
	jQuery(".owl-carousel.owl-thumbs-2").owlCarousel({
		items   : 2,
		margin  : 30,
		nav     : true,
		navText : ['', ''],
		dots    : false,
		loop    : false,
		responsive : {
			0:{
				items: 1
			},
			768:{
				items: 2
			},
		}
	});

	$(window).on('resize',function(){
		var size = $(window).width();
		$('.photo-thumb').toggleClass('project-thumb', size > 767);
	}).resize();

</script>