<head>
	<meta charset="utf-8">
	<title>Arco's Angels</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="keywords" content="">

	<base href="{{ .Site.BaseURL }}">
	<link rel="shortcut icon" href="favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400%7CRubik:400,500,700" rel="stylesheet">
	<link href="css/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>