<head>
	<meta charset="utf-8">
	<title>Arco's Angels</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="keywords" content="">

	<link rel="shortcut icon" href="{{ "tmp/favicon.png" | relURL }}">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:300,400%7CRubik:400,500,700" rel="stylesheet">
	<link href="{{ "css/bootstrap-grid.min.css" | relURL }}" rel="stylesheet" type="text/css">
	<link href="{{ "css/style.css" | relURL }}" rel="stylesheet" type="text/css">
	<link href="{{ "css/style-personal.css" | relURL }}" rel="stylesheet" type="text/css">

	{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
</head>