{{ define "main" }}
<div class="row blog-listing no-sidebar">
	<div class="col-12">
		<article class="post featured has-thumbnail">
			<a href="post.html" class="feature-image-link">
				<img src="tmp/sample-big.png" width="1180" height="680" alt="">
			</a>
			<div class="post-details">
				<h3>Welkom op de team pagina van Arco's Angels.</h3>
				<hr>
				<p>Goed dat je er bent. Hier kun je al onze ontwikkelingen volgen, van tips & tricks tot ons KM klassement.</p>
			</div>
		</article>
	</div>
	<div class="col-12">
		<div class="grid clearfix">
			{{ $pages := .Pages }}
		    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
		    {{ range (where $pages "Section" "!=" "") }}
			<article class="grid-item post has-thumbnail">
				<a href="post.html" class="feature-image-link"><img src="tmp/sample-post.png" width="730" height="500" alt=""></a>
				<div class="post-details">
					<h4><a href="post.html">{{ .Title }}</a></h4>
					<p>{{ .Description }}</p>
					<p class="meta clearfix"><span style="font-style: italic;">{{ .Params.Author }}</span> <a href="{{ .Permalink }}" class="read-more">Lees meer <i class="saulticon-arrow-forward"></i></a></p>
				</div>
			</article>
			{{ end }}
		</div>
	</div>
</div>
{{ end }}