{{ define "main" }}
<div class="row blog-listing no-sidebar">
	<div class="col-12">
		<article class="post featured has-thumbnail">
			<img src="{{ "img/homepage.jpg" | relURL }}" width="1180" height="680" alt="">
			<div class="post-details">
				<h3>Welkom op de team pagina van Arco's Angels.</h3>
				<hr>
				<p>Goed dat je er bent. Hier kun je al onze ontwikkelingen volgen, van tips & tricks tot ons KM klassement.</p>
			</div>
		</article>
	</div>
	<div class="col-12">
		<div class="grid clearfix" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer", "percentPosition": true, "transitionDuration": "0.3s" }'>
			{{ range where .Site.RegularPages.ByDate.Reverse "Section" "post" }}
			<article class="grid-item post has-thumbnail">
				<a href="{{ .Permalink }}" class="feature-image-link"><img src="{{ .Params.Image | relURL }}" width="730" height="500" alt=""></a>
				<div class="post-details">
					<h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
					<p>{{ .Description }}</p>
					<p class="meta clearfix"><span style="font-style: italic;">{{ .Params.Author }}</span> <a href="{{ .Permalink }}" class="read-more">Lees meer <i class="saulticon-arrow-forward"></i></a></p>
				</div>
			</article>    
			{{ end }}
			<div class="grid-sizer"></div>
			<div class="gutter-sizer"></div>
		</div>
	</div>
</div>
{{ end }}