{{ define "main" }}
<div class="row">
	<div class="project-listing col-12">
		<div class="grid clearfix" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "gutter": ".gutter-sizer", "percentPosition": true, "transitionDuration": "0.3s" }'>
			<div class="grid-item grid-item-wide project-thumb welcome-message">
				<div class="inner">
					<h1>Hi! We're <a href="about.html">SAULT</a>. A full service digital agency who helps brands stand out. Checkout <a href="work.html">our work</a>.</h1>
					<a href="services.html" class="button big">All that we do&hellip;</a>
				</div>
			</div>
			<div class="grid-item project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">BON</span>
						<span class="description">Create intrigue around aesthetically pleasing products</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-item project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">FrockHub</span>
						<span class="description">Luxury fashion resource by Saxon Campbell</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-item grid-item-wide project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">Swiss</span>
						<span class="description">The International Typographic Style, a modernist movement impacting many design-related fields</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-item project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">Houdini Slab</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-item project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">Pexels</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-item grid-item-wide project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">Reppr</span>
						<span class="description">We are for shortcuts as much as you are, but can the shortcuts help if the direction is wrong?</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-item project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">Andras</span>
						<span class="description">We are for shortcuts as much as you are, but can the shortcuts help?</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-item project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">Scholar</span>
						<span class="description">Scholar MFG, an artful neoluxury leather brand based in LA</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-item project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">Samu</span>
						<span class="description">Samurai Jack by Adam Whitcroft</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-item project-thumb">
				<a href="project.html">
					<img src="{{ "tmp/sample-square.png" | relURL }}" width="900" height="900" alt="">
					<span class="project-thumb-details">
						<span class="title">Mobile UI</span>
					</span>
					<i class="saulticon-arrow-forward"></i>
				</a>
			</div>
			<div class="grid-sizer"></div>
			<div class="gutter-sizer"></div>
		</div>

		<p class="extra-margin-top text-center">
			<a href="work.html" class="button white big has-arrow">View all our work</a>
		</p>
	</div>
</div>
{{ end }}