{{ define "main" }}
<div class="row">
	<div class="col-12">
		<div class="page-title-container">
			<h1>KM Klassement</h1>
			<h3>Waar anderen stoppen, gaat Arco door.</h3>
		</div>
		<div class="row eq-height-container extra-margin-bottom">
			<div class="col">
				<div class="white-box eq-height overflow-div">
					<h4 class="text-center extra-margin-bottom">Seizoen '20</h4>
					<table class="extra-margin-bottom">
						<thead>
							<tr>
								<th>#</th>
								<th>Wie?</th>
								<th>Aantal loopjes</th>
								<th>Gemiddelde ronde</th>
								<th>Gemiddelde snelheid</th>
								<th>Totaal</th>
							</tr>
						</thead>
						<tbody>
							{{ $json := getJSON .Site.Params.RankingsURL }}
							{{ range $index, $element := $json }}
							
								{{ if $element.runTotalDistance }}
								<tr>
									<td>{{ add $index 1 }}.</td>
									<td>{{ $element.firstName }}</td>
									<td>{{ $element.runTotalActivities }}</td>
									<td>{{ lang.NumFmt 2 (div $element.runAverageDistance 1000) "- , ." }} kilometer</td>
									<td>{{ math.Floor (div (div $element.runAverageMovingTime 60) (div $element.runAverageDistance 1000)) }}:{{ printf "%02d" (mod (div (div $element.runAverageMovingTime 60) (div $element.runAverageDistance 1000)) 60) }} min / km</td>
									<td>{{ math.Round (div $element.runTotalDistance 1000) }} kilometer</td>
								</tr>
								{{ else }}
								<tr>
									<td>{{ add $index 1 }}.</td>
									<td>{{ $element.firstName }}</td>
									<td colspan="4" style="font-style: italic;">Nog geen data beschikbaar.</td>
								</tr>
								{{ end }}
							{{ end }}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}