{{ define "main" }}
<div class="row">
	<div class="col-12">
		<div class="page-title-container">
			<h1>KM Klassement</h1>
			<h3>Waar anderen stoppen, gaat Arco door.</h3>
		</div>
		<div class="row eq-height-container extra-margin-bottom">
			<div class="col">
				<div class="white-box eq-height overflow-div">
					<h4 class="text-center extra-margin-bottom">Seizoen '20</h4>
					<table class="extra-margin-bottom">
						<thead>
							<tr>
								<th>#</th>
								<th>Wie?</th>
								<th>Aantal loopjes</th>
								<th>Gemiddelde ronde</th>
								<th>Gemiddelde snelheid</th>
								<th>Totaal</th>
							</tr>
						</thead>
						<tbody>
							{{ $json := getJSON .Site.Params.RankingMembersURL }}
							{{ range $index, $element := $json }}
							
								{{ if $element.hasData }}
								<tr>
									<td>{{ add $index 1 }}.</td>
									<td>{{ $element.name }}</td>
									<td>{{ $element.totalRuns }}</td>
									<td>{{ $element.averageRunDistance }} kilometer</td>
									<td>{{ $element.averageRunMinutePerKM }} min / km</td>
									<td>{{ $element.totalRunDistance }} kilometer</td>
								</tr>
								{{ else }}
								<tr>
									<td>{{ add $index 1 }}.</td>
									<td>{{ $element.name }}</td>
									<td colspan="4" style="font-style: italic;">Nog geen data beschikbaar.</td>
								</tr>
								{{ end }}
							{{ end }}
						</tbody>
					</table>
					<h4 class="text-center">Onze super fans ❤️</h4>
					<table class="extra-margin-bottom">
						<thead>
							<tr>
								<th>#</th>
								<th>Wie?</th>
								<th>Aantal loopjes</th>
								<th>Gemiddelde ronde</th>
								<th>Gemiddelde snelheid</th>
								<th>Totaal</th>
							</tr>
						</thead>
						<tbody>
							{{ $json := getJSON .Site.Params.RankingFansURL }}
							{{ range $index, $element := $json }}
							
								{{ if $element.hasData }}
								<tr>
									<td>{{ add $index 1 }}.</td>
									<td>fan{{ upper $element.name }}</td>
									<td>{{ $element.totalRuns }}</td>
									<td>{{ $element.averageRunDistance }} kilometer</td>
									<td>{{ $element.averageRunMinutePerKM }} min / km</td>
									<td>{{ $element.totalRunDistance }} kilometer</td>
								</tr>
								{{ else }}
								<tr>
									<td>{{ add $index 1 }}.</td>
									<td>fan{{ upper $element.name }}</td>
									<td colspan="4" style="font-style: italic;">Nog geen data beschikbaar.</td>
								</tr>
								{{ end }}
							{{ end }}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}