{{ define "main" }}
<div class="row blog-listing no-sidebar">
	<div class="col-12">
		<div class="team-gallery">
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<h1 class="no-bottom">Kleine stappen</h1>
					<h3>maken veel meters.</h3>
					<p>Dit zijn de brothers van Arco's Angels. Al van jongs af aan sportief en gezellig. Maar wanneer op de baan, is er geen houden meer aan.</p>
					<p class="extra-margin-bottom">Lid worden?<br> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">We zijn nog opzoek.</a></p>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="team-member">
						<img src="{{ "tmp/sample-team.png" | relURL }}" width="800" height="600" alt="">
						<div class="team-member-details">
							<h4>Arco Poot</h4>
							<p>Inspirator. Leider van de bende.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="team-member">
						<img src="{{ "tmp/sample-team.png" | relURL }}" width="800" height="600" alt="">
						<div class="team-member-details">
							<h4>Rob de Ruiter</h4>
							<p>Ere-lid. Houdt niet van smoesjes.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="team-member">
						<img src="{{ "tmp/sample-team.png" | relURL }}" width="800" height="600" alt="">
						<div class="team-member-details">
							<h4>Luuk van Staalduine</h4>
							<p>Ere-lid. Kent geen blessures.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="team-member">
						<img src="{{ "tmp/sample-team.png" | relURL }}" width="800" height="600" alt="">
						<div class="team-member-details">
							<h4>Niels van der Lingen</h4>
							<p>Ere-lid. Ambachtenaar.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="team-member">
						<img src="{{ "tmp/sample-team.png" | relURL }}" width="800" height="600" alt="">
						<div class="team-member-details">
							<h4>Niels Koole</h4>
							<p>Ere-lid. Nerd.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}